@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  font: inherit
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "file reset"
                       "game game";

  margin: 0;
  background: skyblue;
}

#upload {
  grid-area: file;

  cursor: pointer;
  border: 1px solid #444;
  background: #FFF;
  color: #000;
}

#reset {
  grid-area: reset;

  cursor: pointer;
  border: 2px solid #600;
  background: #A00;
  color: #FFF;
}

#reset:hover, #reset:focus { background: #E00 }

#player {
  grid-area: game;

  display: grid;
  grid-gap: 16px;
  padding: 16px;
}

.cyoa-image { border-radius: 16px }
.cyoa-text { color: #448 }

.cyoa-choices {
  display: grid;
  grid-gap: 8px;
}

.cyoa-choice {
  cursor: pointer;
  display: block;
  margin-right: auto;

  border: 0;
  padding: 0 16px;
  color: #444;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.cyoa-choice:hover, .cyoa-choice:focus { background: rgba(255, 255, 255, 0.7) }
